@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

#formato {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 70%;
    grid-column-gap: 8px;
}

.divs {
    background-color: #ffffff;
    border: 2px solid #505050;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

#titulo {
    border-radius: 20px;
    padding: 5px;
    margin-left: 40%;
    margin-right: 40%;
}

#redes_sociais ul {
    list-style-type: none;
    padding: 0px;
}

#dados_pessoais ul {
    list-style-type: none;
    padding-inline-start: 20px;
    text-align: left;
}

#sobre_mim img {
    width: 200px;

}